Flask
boto3
pymongo
requests
googletrans
langdetect 
requests
flask_cors
dotenv
botocore
faker
transformers
PIL
io
langchain
langchain_community
langchain_core
torch
spacy 
nltk
pandas
fastapi
python-dotenv
sentence-transformers 
huggingface-hub 
chromadb
Flask-CORS