# Environment variables
.env*
 
# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Docker files (optional)
*.dockerignore
*.log
.docker/

# Git files (not normally needed)
.git/

# IDE files
.vscode/
.idea/
*.swp

# Log files
*.log

# Build / Distribution files
dist/
build/
*.egg-info/
